/* Setup */
:root {
    --calculator-color: #FF69B4;
    --display-color: #c970ae;

    --number-button-color: #51A785;
    --side-button-color: white;
    --equals-color: #51a785;
    
    --number-button-dark: #367059;
    --side-button-dark: rgb(182, 182, 182);
    --equals-dark: #3c7c63;

    --gap-length: 10px;
    --halfgap-length: 5px;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;

    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Calculator Rules */
#calculator {
    height: 700px;
    width: 500px;
    background-color: var(--calculator-color);

    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Calculator Display Rules */
#calculator .display{
    flex: 0 0 75px;

    align-self: stretch;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display output {
    flex: 1;
    text-align: left;
    background-color: var(--display-color); 
    margin: var(--gap-length);
    padding: 5px;

    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}


/* Calculator Input Rules */
#calculator .input {
    flex: 1;
    align-self: stretch;
}

#calculator .input, #calculator .buttons {
    display: flex;
}

.input button {
    flex: 1;
}


/* Number Buttons */
.number-keys button{
    background-color: var(--number-button-color);
}

#calculator .number-keys {
    flex: 1;
    padding: var(--gap-length) var(--halfgap-length);
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: var(--gap-length);
}

.number-keys button:active {
    background-color: var(--number-button-dark);
}

.number-keys .row {
    flex: 1;
    
    display:flex;
    justify-content: center;
    align-items: stretch;
    gap: var(--gap-length);
}

/* Left and Right Buttons */
#calculator .left-buttons, #calculator .right-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-length);
}

#calculator .left-buttons {
    padding: var(--gap-length) var(--halfgap-length) var(--gap-length) var(--gap-length);
}

#calculator .right-buttons {
    padding: var(--gap-length) var(--gap-length) var(--gap-length) var(--halfgap-length);
}


#calculator .left-buttons button, #calculator .right-buttons button {
    flex: 1;
    width: 75px;
    background-color: var(--side-button-color);
}

#calculator .left-buttons button:active, #calculator .right-buttons button:active {
    background-color: var(--side-button-dark);
}

#calculator #equals-button {
    background-color: var(--equals-color);
}

#calculator #equals-button:active {
    background-color: var(--equals-dark);
}